<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

  <targets>
    <target name="file" 
            xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" 
            fileName="${basedir}/logs/pac-log.txt"
            archiveFileName="${basedir}/archives/pac-log.{#####}.txt"
            archiveAboveSize="10485760"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            maxArchiveFiles="100"
            keepFileOpen="false" 
            openFileCacheTimeout="30" />    
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>