# Set line endings to avoid detecting changes to every file in GitHub when editing within Docker
* text=auto eol=lf

# Set line endings to LF, even on Windows. Otherwise, execution within Docker fails.
# See https://help.github.com/articles/dealing-with-line-endings/
*.sh text eol=crlf
