html, body {
    width:2000px
}

/* Path to ALM Accelerator for Makers in darkgray */
#L-Maker-AA4M path,
#L-AA4M-hidesComplexity path,
#L-NC-AA4M2 path,

#L-Maker-AA4M .path,
#L-AA4M-hidesComplexity .path,
#L-NC-AA4M2 .path {
    stroke : darkgray !important
}

#L-AM-prereqInstall .path,
#L-Developer-prereqInstall .path {
    stroke-width: 4px !important;
}

/* Default all lines to orange */
[class^=edgePath] path {
    stroke : orange !important
}

/* Importance Lines */
[id^=L-I-] .path,
#L-300-I .path,
#L-400-I .path,
#L-500-I .path,

[id^=L-I-] path,
#L-300-I path,
#L-400-I path,
#L-500-I path {
    stroke : red !important
}

#L-Critical-prereqInstalled .path,
#L-High-prereqInstalled .path,

#L-Critical-prereqInstalled path,
#L-High-prereqInstalled path {
    stroke : red !important
}

/* AA4AM Lines and Symbols */

#L-BranchingAndMerging-TechnicalConcepts .path,
#L-EnvironmentStrategy-aa4amPrereq .path, 
#L-AzureDevOps-aa4amPrereq .path, 
#L-TechnicalConcepts-aa4amPrereq .path,
#L-prereqInstalled-prereqYes .path,
#L-prereqInstalled-prereqNo .path,
#L-hideComplexity-AA4AM .path,
#L-prereqYes-AA4AM .path,
#L-prereqNo-AA4AM .path,
#L-prereqNo-EnvironmentStrategy .path,
#L-EnvironmentStrategy-AzureDevOps .path,
#L-AzureDevOps-TechnicalConcepts .path,
#L-BranchingAndMerging-TechnicalConcepts .path,
#L-TechnicalConcepts-AA4AM .path,
#L-AA4AM-DevelopmentEnvironment .path,
#L-DevelopmentEnvironment-ValidationEnvironment .path, 
#L-ValidationEnvironment-TestEnvironment .path, 
#L-TestEnvironment-ProductionEnvironment .path,
#L-Extensions-AA4AM-DevOps .path,

#L-BranchingAndMerging-TechnicalConcepts path,
#L-EnvironmentStrategy-aa4amPrereq path, 
#L-AzureDevOps-aa4amPrereq path, 
#L-prereqInstalled-prereqYes path,
#L-prereqInstalled-prereqNo path,
#L-hideComplexity-AA4AM path,
#L-prereqYes-AA4AM path,
#L-prereqNo-AA4AM path,
#L-prereqNo-EnvironmentStrategy path,
#L-EnvironmentStrategy-AzureDevOps path,
#L-AzureDevOps-TechnicalConcepts path,
#L-BranchingAndMerging-TechnicalConcepts path,
#L-TechnicalConcepts-AA4AM path,
#L-AA4AM-DevelopmentEnvironment path,
#L-DevelopmentEnvironment-ValidationEnvironment path, 
#L-ValidationEnvironment-TestEnvironment path, 
#L-TestEnvironment-ProductionEnvironment path,
#L-Extensions-AA4AM-DevOps path {
    stroke : green !important
}

[id^=flowchart-300] circle,
[id^=flowchart-400] circle,
[id^=flowchart-500] circle,
[id^=flowchart-AA4AM] circle {
    stroke : green !important;
    fill: lightgreen !important
}
