html, body {
    width:2000px
}

#L-Maker-AA4M path {
    stroke : darkgray !important
}

#L-NC-AA4M path {
    stroke : darkgray !important
}

#L-AA4M-simplifies path,
#L-simplifies-AA4AM path {
    stroke : darkgray !important
}

#L-AM-AA4AM .path {
    stroke-width: 4px !important;
}

#L-Developer-AA4AM .path {
    stroke-width: 4px !important;
}

[class^=edgePath] path {
    stroke : orange !important
}

[id^=L-I-] .path,
#L-300-I .path,
#L-400-I .path,
#L-500-I .path,

[id^=L-I-] path,
#L-300-I path,
#L-400-I path,
#L-500-I path {
    stroke : red !important
}

#L-Critical-AA4AM .path,
#L-High-AA4AM .path,

#L-Critical-AA4AM path,
#L-High-AA4AM path {
    stroke : red !important
}

#L-BranchingAndMerging-TechnicalConcepts .path,
#L-EnvironmentStrategy-aa4amPrereq .path, 
#L-AzureDevOps-aa4amPrereq .path, 
#L-TechnicalConcepts-aa4amPrereq .path,
#L-aa4amPrereq-AA4AM .path,

#L-BranchingAndMerging-TechnicalConcepts path,
#L-EnvironmentStrategy-aa4amPrereq path, 
#L-AzureDevOps-aa4amPrereq path, 
#L-TechnicalConcepts-aa4amPrereq path,
#L-aa4amPrereq-AA4AM path {
    stroke : green !important
}

#L-AA4AM-DevelopmentEnvironment .path,
#L-DevelopmentEnvironment-ValidationEnvironment .path, 
#L-ValidationEnvironment-TestEnvironment .path, 
#L-TestEnvironment-ProductionEnvironment .path,
#L-Extensions-AA4AM-DevOps .path,

#L-AA4AM-DevelopmentEnvironment path,
#L-DevelopmentEnvironment-ValidationEnvironment path, 
#L-ValidationEnvironment-TestEnvironment path, 
#L-TestEnvironment-ProductionEnvironment path,
#L-Extensions-AA4AM-DevOps path {
    stroke : black !important
}