#L-BranchingAndMerging-TechnicalConcepts .path,
#L-EnvironmentStrategy-aa4amPrereq .path, 
#L-AzureDevOps-aa4amPrereq .path, 
#L-TechnicalConcepts-aa4amPrereq .path,
#L-300-AA4AM .path,
#L-400-AA4AM .path,
#L-500-AA4AM .path,

#L-BranchingAndMerging-TechnicalConcepts path,
#L-EnvironmentStrategy-aa4amPrereq path, 
#L-AzureDevOps-aa4amPrereq path, 
#L-TechnicalConcepts-aa4amPrereq path,
#L-300-AA4AM path,
#L-400-AA4AM path,
#L-500-AA4AM path {
    stroke : green !important
}

#L-M-100 .path, 
#L-100-Environment .path, 
#L-100-DLP .path, 
#L-Environment-200 .path,
#L-DLP-200 .path,
#L-M-200 .path, 

#L-M-100 path, 
#L-100-Environment path, 
#L-100-DLP path, 
#L-Environment-200 path,
#L-DLP-200 path,
#L-M-200 path 
{
    stroke : red !important
}

#L-200-Automation .path,
#L-Automation-CoE .path,
#L-CoE-300 .path,
#L-M-300 .path,

#L-200-Automation path,
#L-Automation-CoE path,
#L-CoE-300 path,
#L-M-300 path  
{
    stroke : orange !important
}