html, body {
    width:2000px
}

[id^=flowchart-100] circle {
    stroke : red !important;
    fill: #FF7377 !important
}

#L-M-100 .path, 
#L-M-100 path
{
    stroke : red !important
}

#L-M-200 .path, 
#L-100-200 .path,
#L-DLP-200 .path,
#L-Environment-200 .path,

#L-M-200 path, 
#L-100-200 path,
#L-DLP-200 path,
#L-Environment-200 path
{
    stroke : orange !important
}

#L-M-300 .path,
#L-M-400 .path,
#L-M-500 .path,
#L-Automation-300 .path,
#L-CoE-300 .path,
#L-300-400 .path,
#L-Champions-400 .path,
#L-Templates-400 .path,
#L-MissionCritical-400 .path,
#L-400-500 .path,
#L-Team-500 .path,
#L-Experts-500 .path,
#L-300-AA4AM .path,
#L-400-AA4AM .path,
#L-500-AA4AM .path,

#L-M-300 path,
#L-M-400 path,
#L-M-500 path,
#L-Automation-300 path,
#L-CoE-300 path,
#L-300-400 path,
#L-Champions-400 path,
#L-Templates-400 path,
#L-MissionCritical-400 path,
#L-400-500 path,
#L-Team-500 path,
#L-Experts-500 path,
#L-300-AA4AM path,
#L-400-AA4AM path,
#L-500-AA4AM path {
    stroke : green !important
}





[id^=flowchart-200] circle {
    stroke : orange !important;
    fill: #FCC981 !important
}

[id^=flowchart-300] circle,
[id^=flowchart-400] circle,
[id^=flowchart-500] circle,
[id^=flowchart-AA4AM] circle {
    stroke : green !important;
    fill: lightgreen !important
}