<div class="wrapper-body">
  <div class="container">
    <div class="page-heading">
      {% block breadcrumbs %}
      {% include 'Breadcrumbs' %}
      {% endblock %}
      {% block title %}
      {% include 'Page Header' %}
      {% endblock %}
    </div>
    <div class="row">
      <div class="col-sm-4 col-lg-3 left-column">
        {% block aside %}{% endblock %}
      </div>
      <div class="col-sm-8 col-lg-9 right-column">
        {% block main %}
        {% include 'Page Copy' %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="push"></div>
  </div>