node_modules/

book
dist
built
build-docs

./release.zip

docs/Power Platform CoE Toolkit Command Line Interface.pdf
docs/Power Platform CoE Toolkit Command Line Interface.html

config/config.dev.json