/* LTR classes from theme.css */ 

.pagination > li > span {
    margin-left: 10px;
}

.logo-container {
    margin-left: 9px;
}

.navbar-fixed-top.navbar .navbar-form {    
    margin-left: 0;
    margin-right: 0;
}

.navbar-static-top.navbar .navbar-form {    
    margin-left: 0;
    margin-right: 0;
}

.navbar-fixed-top.navbar .menu-bar > .navbar-nav > .divider-vertical {    
    border-right: 1px solid #fff;
    border-left: 1px solid #666;
}

.navbar-static-top.navbar .menu-bar > .navbar-nav > .divider-vertical {
    border-right: 1px solid #fff;
    border-left: 1px solid #666;
}

.navbar-fixed-top.navbar-inverse .divider-vertical {
    border-right-color: #fff;
    border-left-color: #111;
}

.navbar-static-top.navbar-inverse .divider-vertical {
    border-right-color: #fff;
    border-left-color: #111;
}

.menu-bar .shopping_link .cart_amount {    
    right: -6px;    
    padding-left: 1.9px;    
}

.panel-group .panel-heading .panel-title a:before {               
    margin-right: 10.5px;
}

.section-inline-search .row > div .form-inline .form-group .input-group {
    margin-right: 21px;
}

.section-inline-search .row > div .form-inline .form-group .input-group .input-group-addon { 
    border-right: none;
}

.section-inline-search .row > div .form-inline .form-group .input-group .form-control {        
    border-left: none;        
}

.section-inline-search .row > div .form-inline .form-group .input-group .form-control:focus {            
    border-right: none;            
}

.list-social-links {    
    padding-left: 0;
}

@media screen and (max-width: 993px) {
    .section-landing h2 {
        margin-left: -3px;
    }
}

.user-icon {
    margin-right: 7px;
}

.article-title-container {    
    padding-left: 15px;
}

.article-title {
    margin-left: -35px;
}

.article-title > span {
        margin-left: 3px;
}

@media screen and (max-width: 993px) {    
    .article-title {
        margin-left: 0;        
    }
}

.section-search input {    
    padding-left: 10px;    
}

.section-search .media .media-body {
    padding-left: 20px;
}

.carousel-custom .carousel-inner > .item {
    margin-right: auto;
    margin-left: auto;
}

.carousel-custom .carousel-inner > .item .carousel-caption {
    left: 5%;
    right: 5%;
}

@media screen and (min-width: 768px) {    
    .carousel-custom .carousel-inner > .item .carousel-caption {
        left: 5%;
        right: 5%;
    }
}

.poll {
    padding-left: 15px;
    padding-right: 15px;
}

.poll .poll-content .poll-buttons {    
    padding-left: 11px;
}

.nav-sidebar {
    padding-left: 20px;
}

.nav-sidebar .nav > li > a:hover,
.nav-sidebar .nav > li > a:focus {
    border-right: 2px solid #555555;
}

.nav-sidebar .nav > li > a:before {
    margin-right: 7px;
}

.nav-sidebar .nav > .active > a {
    border-right: 2px solid #555555;
}

.nav-sidebar .nav .nav > li > a {
    padding-left: 30px;
}

.nav-sidebar .nav .nav .nav > li > a {
    padding-left: 60px;
}

@media (max-width: 1199px) {
    #navbar .dropdown-search #search-filter {        
        text-align: left;
        padding-left: 25px;
    }
}

.form-search .dropdown-submenu {
    right: -2px;
}

.section-diagonal-left .section-diagonal-left-content:before {
    left: 0;
}

.section-diagonal-right .section-diagonal-right-content:before {
    left: 0;
}

@media screen and (max-width: 767px) {
    .section-default:before {    
        left: 0;        
    }
}

.content-home .list-group-item img {
    margin-right: 25px;
}

.sidebar-home .panel-heading {
    padding-left: 0;
}

.sidebar-home .list-group-item {
    padding-left: 0;
}

h1 {
    margin-left: 0px;
    margin-right: 0px;
}

.skip-to-content a 
{
    left:0px;
}

.skip-to-content a:focus 
{    
    left:0px;    
}

.frenchAccessibilityLink{
    float: right;    
}

/* LTR classes from portalbasictheme.css */

.sectionBlockLayout {
    margin-left: 0px;
    margin-right: 0px;
  }

/* LTR studio inline styling */ 

.p-r-5 {
    padding-right: 5px;
}

.left-50pc{
    left: 50%;
}

.ml-2 {
    margin-left: 8px;
}

/* 
        -----------------------------
        LTR and RTL classes partition
        ----------------------------- 
*/ 

/* RTL classes from bootstrap-rtl.css */ 

html[dir="rtl"] {
	/*# sourceMappingURL=bootstrap.min.css.map */
}
 html[dir="rtl"] .glyphicon-align-left:before {
	 content: "\e054";
}
 html[dir="rtl"] .glyphicon-align-right:before {
	 content: "\e052";
}
 html[dir="rtl"] .glyphicon-indent-left:before {
	 content: "\e058";
}
 html[dir="rtl"] .glyphicon-indent-right:before {
	 content: "\e057";
}
 html[dir="rtl"] .glyphicon-chevron-left:before {
	 content: "\e080";
}
 html[dir="rtl"] .glyphicon-chevron-right:before {
	 content: "\e079";
}
 html[dir="rtl"] .glyphicon-arrow-left:before {
	 content: "\e092";
}
 html[dir="rtl"] .glyphicon-arrow-right:before {
	 content: "\e091";
}
 html[dir="rtl"] .glyphicon-hand-right:before {
	 content: "\e128";
}
 html[dir="rtl"] .glyphicon-hand-left:before {
	 content: "\e127";
}
 html[dir="rtl"] .glyphicon-circle-arrow-right:before {
	 content: "\e132";
}
 html[dir="rtl"] .glyphicon-circle-arrow-left:before {
	 content: "\e131";
}
 html[dir="rtl"] .glyphicon-object-align-left:before {
	 content: "\e249";
}
 html[dir="rtl"] .glyphicon-object-align-right:before {
	 content: "\e247";
}
 html[dir="rtl"] .glyphicon-triangle-right:before {
	 content: "\e251";
}
 html[dir="rtl"] .glyphicon-triangle-left:before {
	 content: "\e250";
}
 html[dir="rtl"] .glyphicon-menu-left:before {
	 content: "\e258";
}
 html[dir="rtl"] .glyphicon-menu-right:before {
	 content: "\e257";
}
 html[dir="rtl"] .text-left {
	 text-align: right;
}
 html[dir="rtl"] .text-right {
	 text-align: left;
}
 html[dir="rtl"] .list-unstyled {
	 padding-right: 0;
}
 html[dir="rtl"] .list-inline {
	 padding-right: 0;
	 margin-right: -5px;
}
 html[dir="rtl"] dd {
	 margin-right: 0;
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .dl-horizontal dt {
		 float: right;
		 clear: right;
		 text-align: left;
	}
	 html[dir="rtl"] .dl-horizontal dd {
		 margin-right: 180px;
	}
}
 html[dir="rtl"] blockquote {
	 border-right: 5px solid #eee;
}
 html[dir="rtl"] .blockquote-reverse, html[dir="rtl"] blockquote.pull-right {
	 padding-right: 0;
	 padding-left: 15px;
	 text-align: left;
	 border-right: 0;
	 border-left: 5px solid #eee;
}
 html[dir="rtl"] .col-xs-1, html[dir="rtl"] .col-xs-10, html[dir="rtl"] .col-xs-11, html[dir="rtl"] .col-xs-12, html[dir="rtl"] .col-xs-2, html[dir="rtl"] .col-xs-3, html[dir="rtl"] .col-xs-4, html[dir="rtl"] .col-xs-5, html[dir="rtl"] .col-xs-6, html[dir="rtl"] .col-xs-7, html[dir="rtl"] .col-xs-8, html[dir="rtl"] .col-xs-9 {
	 float: right;
}
 html[dir="rtl"] .col-xs-pull-12 {
	 left: 100%;
}
 html[dir="rtl"] .col-xs-pull-11 {
	 left: 91.66666667%;
}
 html[dir="rtl"] .col-xs-pull-10 {
	 left: 83.33333333%;
}
 html[dir="rtl"] .col-xs-pull-9 {
	 left: 75%;
}
 html[dir="rtl"] .col-xs-pull-8 {
	 left: 66.66666667%;
}
 html[dir="rtl"] .col-xs-pull-7 {
	 left: 58.33333333%;
}
 html[dir="rtl"] .col-xs-pull-6 {
	 left: 50%;
}
 html[dir="rtl"] .col-xs-pull-5 {
	 left: 41.66666667%;
}
 html[dir="rtl"] .col-xs-pull-4 {
	 left: 33.33333333%;
}
 html[dir="rtl"] .col-xs-pull-3 {
	 left: 25%;
}
 html[dir="rtl"] .col-xs-pull-2 {
	 left: 16.66666667%;
}
 html[dir="rtl"] .col-xs-pull-1 {
	 left: 8.33333333%;
}
 html[dir="rtl"] .col-xs-pull-0 {
	 left: auto;
}
 html[dir="rtl"] .col-xs-push-12 {
	 right: 100%;
}
 html[dir="rtl"] .col-xs-push-11 {
	 right: 91.66666667%;
}
 html[dir="rtl"] .col-xs-push-10 {
	 right: 83.33333333%;
}
 html[dir="rtl"] .col-xs-push-9 {
	 right: 75%;
}
 html[dir="rtl"] .col-xs-push-8 {
	 right: 66.66666667%;
}
 html[dir="rtl"] .col-xs-push-7 {
	 right: 58.33333333%;
}
 html[dir="rtl"] .col-xs-push-6 {
	 right: 50%;
}
 html[dir="rtl"] .col-xs-push-5 {
	 right: 41.66666667%;
}
 html[dir="rtl"] .col-xs-push-4 {
	 right: 33.33333333%;
}
 html[dir="rtl"] .col-xs-push-3 {
	 right: 25%;
}
 html[dir="rtl"] .col-xs-push-2 {
	 right: 16.66666667%;
}
 html[dir="rtl"] .col-xs-push-1 {
	 right: 8.33333333%;
}
 html[dir="rtl"] .col-xs-push-0 {
	 right: auto;
}
 html[dir="rtl"] .col-xs-offset-12 {
	 margin-right: 100%;
}
 html[dir="rtl"] .col-xs-offset-11 {
	 margin-right: 91.66666667%;
}
 html[dir="rtl"] .col-xs-offset-10 {
	 margin-right: 83.33333333%;
}
 html[dir="rtl"] .col-xs-offset-9 {
	 margin-right: 75%;
}
 html[dir="rtl"] .col-xs-offset-8 {
	 margin-right: 66.66666667%;
}
 html[dir="rtl"] .col-xs-offset-7 {
	 margin-right: 58.33333333%;
}
 html[dir="rtl"] .col-xs-offset-6 {
	 margin-right: 50%;
}
 html[dir="rtl"] .col-xs-offset-5 {
	 margin-right: 41.66666667%;
}
 html[dir="rtl"] .col-xs-offset-4 {
	 margin-right: 33.33333333%;
}
 html[dir="rtl"] .col-xs-offset-3 {
	 margin-right: 25%;
}
 html[dir="rtl"] .col-xs-offset-2 {
	 margin-right: 16.66666667%;
}
 html[dir="rtl"] .col-xs-offset-1 {
	 margin-right: 8.33333333%;
}
 html[dir="rtl"] .col-xs-offset-0 {
	 margin-right: 0;
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .col-sm-1, html[dir="rtl"] .col-sm-10, html[dir="rtl"] .col-sm-11, html[dir="rtl"] .col-sm-12, html[dir="rtl"] .col-sm-2, html[dir="rtl"] .col-sm-3, html[dir="rtl"] .col-sm-4, html[dir="rtl"] .col-sm-5, html[dir="rtl"] .col-sm-6, html[dir="rtl"] .col-sm-7, html[dir="rtl"] .col-sm-8, html[dir="rtl"] .col-sm-9 {
		 float: right;
	}
	 html[dir="rtl"] .col-sm-pull-12 {
		 left: 100%;
	}
	 html[dir="rtl"] .col-sm-pull-11 {
		 left: 91.66666667%;
	}
	 html[dir="rtl"] .col-sm-pull-10 {
		 left: 83.33333333%;
	}
	 html[dir="rtl"] .col-sm-pull-9 {
		 left: 75%;
	}
	 html[dir="rtl"] .col-sm-pull-8 {
		 left: 66.66666667%;
	}
	 html[dir="rtl"] .col-sm-pull-7 {
		 left: 58.33333333%;
	}
	 html[dir="rtl"] .col-sm-pull-6 {
		 left: 50%;
	}
	 html[dir="rtl"] .col-sm-pull-5 {
		 left: 41.66666667%;
	}
	 html[dir="rtl"] .col-sm-pull-4 {
		 left: 33.33333333%;
	}
	 html[dir="rtl"] .col-sm-pull-3 {
		 left: 25%;
	}
	 html[dir="rtl"] .col-sm-pull-2 {
		 left: 16.66666667%;
	}
	 html[dir="rtl"] .col-sm-pull-1 {
		 left: 8.33333333%;
	}
	 html[dir="rtl"] .col-sm-pull-0 {
		 left: auto;
	}
	 html[dir="rtl"] .col-sm-push-12 {
		 right: 100%;
	}
	 html[dir="rtl"] .col-sm-push-11 {
		 right: 91.66666667%;
	}
	 html[dir="rtl"] .col-sm-push-10 {
		 right: 83.33333333%;
	}
	 html[dir="rtl"] .col-sm-push-9 {
		 right: 75%;
	}
	 html[dir="rtl"] .col-sm-push-8 {
		 right: 66.66666667%;
	}
	 html[dir="rtl"] .col-sm-push-7 {
		 right: 58.33333333%;
	}
	 html[dir="rtl"] .col-sm-push-6 {
		 right: 50%;
	}
	 html[dir="rtl"] .col-sm-push-5 {
		 right: 41.66666667%;
	}
	 html[dir="rtl"] .col-sm-push-4 {
		 right: 33.33333333%;
	}
	 html[dir="rtl"] .col-sm-push-3 {
		 right: 25%;
	}
	 html[dir="rtl"] .col-sm-push-2 {
		 right: 16.66666667%;
	}
	 html[dir="rtl"] .col-sm-push-1 {
		 right: 8.33333333%;
	}
	 html[dir="rtl"] .col-sm-push-0 {
		 right: auto;
	}
	 html[dir="rtl"] .col-sm-offset-12 {
		 margin-right: 100%;
	}
	 html[dir="rtl"] .col-sm-offset-11 {
		 margin-right: 91.66666667%;
	}
	 html[dir="rtl"] .col-sm-offset-10 {
		 margin-right: 83.33333333%;
	}
	 html[dir="rtl"] .col-sm-offset-9 {
		 margin-right: 75%;
	}
	 html[dir="rtl"] .col-sm-offset-8 {
		 margin-right: 66.66666667%;
	}
	 html[dir="rtl"] .col-sm-offset-7 {
		 margin-right: 58.33333333%;
	}
	 html[dir="rtl"] .col-sm-offset-6 {
		 margin-right: 50%;
	}
	 html[dir="rtl"] .col-sm-offset-5 {
		 margin-right: 41.66666667%;
	}
	 html[dir="rtl"] .col-sm-offset-4 {
		 margin-right: 33.33333333%;
	}
	 html[dir="rtl"] .col-sm-offset-3 {
		 margin-right: 25%;
	}
	 html[dir="rtl"] .col-sm-offset-2 {
		 margin-right: 16.66666667%;
	}
	 html[dir="rtl"] .col-sm-offset-1 {
		 margin-right: 8.33333333%;
	}
	 html[dir="rtl"] .col-sm-offset-0 {
		 margin-right: 0;
	}
}
 @media (min-width: 992px) {
	 html[dir="rtl"] .col-md-1, html[dir="rtl"] .col-md-10, html[dir="rtl"] .col-md-11, html[dir="rtl"] .col-md-12, html[dir="rtl"] .col-md-2, html[dir="rtl"] .col-md-3, html[dir="rtl"] .col-md-4, html[dir="rtl"] .col-md-5, html[dir="rtl"] .col-md-6, html[dir="rtl"] .col-md-7, html[dir="rtl"] .col-md-8, html[dir="rtl"] .col-md-9 {
		 float: right;
	}
	 html[dir="rtl"] .col-md-pull-12 {
		 left: 100%;
	}
	 html[dir="rtl"] .col-md-pull-11 {
		 left: 91.66666667%;
	}
	 html[dir="rtl"] .col-md-pull-10 {
		 left: 83.33333333%;
	}
	 html[dir="rtl"] .col-md-pull-9 {
		 left: 75%;
	}
	 html[dir="rtl"] .col-md-pull-8 {
		 left: 66.66666667%;
	}
	 html[dir="rtl"] .col-md-pull-7 {
		 left: 58.33333333%;
	}
	 html[dir="rtl"] .col-md-pull-6 {
		 left: 50%;
	}
	 html[dir="rtl"] .col-md-pull-5 {
		 left: 41.66666667%;
	}
	 html[dir="rtl"] .col-md-pull-4 {
		 left: 33.33333333%;
	}
	 html[dir="rtl"] .col-md-pull-3 {
		 left: 25%;
	}
	 html[dir="rtl"] .col-md-pull-2 {
		 left: 16.66666667%;
	}
	 html[dir="rtl"] .col-md-pull-1 {
		 left: 8.33333333%;
	}
	 html[dir="rtl"] .col-md-pull-0 {
		 left: auto;
	}
	 html[dir="rtl"] .col-md-push-12 {
		 right: 100%;
	}
	 html[dir="rtl"] .col-md-push-11 {
		 right: 91.66666667%;
	}
	 html[dir="rtl"] .col-md-push-10 {
		 right: 83.33333333%;
	}
	 html[dir="rtl"] .col-md-push-9 {
		 right: 75%;
	}
	 html[dir="rtl"] .col-md-push-8 {
		 right: 66.66666667%;
	}
	 html[dir="rtl"] .col-md-push-7 {
		 right: 58.33333333%;
	}
	 html[dir="rtl"] .col-md-push-6 {
		 right: 50%;
	}
	 html[dir="rtl"] .col-md-push-5 {
		 right: 41.66666667%;
	}
	 html[dir="rtl"] .col-md-push-4 {
		 right: 33.33333333%;
	}
	 html[dir="rtl"] .col-md-push-3 {
		 right: 25%;
	}
	 html[dir="rtl"] .col-md-push-2 {
		 right: 16.66666667%;
	}
	 html[dir="rtl"] .col-md-push-1 {
		 right: 8.33333333%;
	}
	 html[dir="rtl"] .col-md-push-0 {
		 right: auto;
	}
	 html[dir="rtl"] .col-md-offset-12 {
		 margin-right: 100%;
	}
	 html[dir="rtl"] .col-md-offset-11 {
		 margin-right: 91.66666667%;
	}
	 html[dir="rtl"] .col-md-offset-10 {
		 margin-right: 83.33333333%;
	}
	 html[dir="rtl"] .col-md-offset-9 {
		 margin-right: 75%;
	}
	 html[dir="rtl"] .col-md-offset-8 {
		 margin-right: 66.66666667%;
	}
	 html[dir="rtl"] .col-md-offset-7 {
		 margin-right: 58.33333333%;
	}
	 html[dir="rtl"] .col-md-offset-6 {
		 margin-right: 50%;
	}
	 html[dir="rtl"] .col-md-offset-5 {
		 margin-right: 41.66666667%;
	}
	 html[dir="rtl"] .col-md-offset-4 {
		 margin-right: 33.33333333%;
	}
	 html[dir="rtl"] .col-md-offset-3 {
		 margin-right: 25%;
	}
	 html[dir="rtl"] .col-md-offset-2 {
		 margin-right: 16.66666667%;
	}
	 html[dir="rtl"] .col-md-offset-1 {
		 margin-right: 8.33333333%;
	}
	 html[dir="rtl"] .col-md-offset-0 {
		 margin-right: 0;
	}
}
 @media (min-width: 1200px) {
	 html[dir="rtl"] .col-lg-1, html[dir="rtl"] .col-lg-10, html[dir="rtl"] .col-lg-11, html[dir="rtl"] .col-lg-12, html[dir="rtl"] .col-lg-2, html[dir="rtl"] .col-lg-3, html[dir="rtl"] .col-lg-4, html[dir="rtl"] .col-lg-5, html[dir="rtl"] .col-lg-6, html[dir="rtl"] .col-lg-7, html[dir="rtl"] .col-lg-8, html[dir="rtl"] .col-lg-9 {
		 float: right;
	}
	 html[dir="rtl"] .col-lg-pull-12 {
		 left: 100%;
	}
	 html[dir="rtl"] .col-lg-pull-11 {
		 left: 91.66666667%;
	}
	 html[dir="rtl"] .col-lg-pull-10 {
		 left: 83.33333333%;
	}
	 html[dir="rtl"] .col-lg-pull-9 {
		 left: 75%;
	}
	 html[dir="rtl"] .col-lg-pull-8 {
		 left: 66.66666667%;
	}
	 html[dir="rtl"] .col-lg-pull-7 {
		 left: 58.33333333%;
	}
	 html[dir="rtl"] .col-lg-pull-6 {
		 left: 50%;
	}
	 html[dir="rtl"] .col-lg-pull-5 {
		 left: 41.66666667%;
	}
	 html[dir="rtl"] .col-lg-pull-4 {
		 left: 33.33333333%;
	}
	 html[dir="rtl"] .col-lg-pull-3 {
		 left: 25%;
	}
	 html[dir="rtl"] .col-lg-pull-2 {
		 left: 16.66666667%;
	}
	 html[dir="rtl"] .col-lg-pull-1 {
		 left: 8.33333333%;
	}
	 html[dir="rtl"] .col-lg-pull-0 {
		 left: auto;
	}
	 html[dir="rtl"] .col-lg-push-12 {
		 right: 100%;
	}
	 html[dir="rtl"] .col-lg-push-11 {
		 right: 91.66666667%;
	}
	 html[dir="rtl"] .col-lg-push-10 {
		 right: 83.33333333%;
	}
	 html[dir="rtl"] .col-lg-push-9 {
		 right: 75%;
	}
	 html[dir="rtl"] .col-lg-push-8 {
		 right: 66.66666667%;
	}
	 html[dir="rtl"] .col-lg-push-7 {
		 right: 58.33333333%;
	}
	 html[dir="rtl"] .col-lg-push-6 {
		 right: 50%;
	}
	 html[dir="rtl"] .col-lg-push-5 {
		 right: 41.66666667%;
	}
	 html[dir="rtl"] .col-lg-push-4 {
		 right: 33.33333333%;
	}
	 html[dir="rtl"] .col-lg-push-3 {
		 right: 25%;
	}
	 html[dir="rtl"] .col-lg-push-2 {
		 right: 16.66666667%;
	}
	 html[dir="rtl"] .col-lg-push-1 {
		 right: 8.33333333%;
	}
	 html[dir="rtl"] .col-lg-push-0 {
		 right: auto;
	}
	 html[dir="rtl"] .col-lg-offset-12 {
		 margin-right: 100%;
	}
	 html[dir="rtl"] .col-lg-offset-11 {
		 margin-right: 91.66666667%;
	}
	 html[dir="rtl"] .col-lg-offset-10 {
		 margin-right: 83.33333333%;
	}
	 html[dir="rtl"] .col-lg-offset-9 {
		 margin-right: 75%;
	}
	 html[dir="rtl"] .col-lg-offset-8 {
		 margin-right: 66.66666667%;
	}
	 html[dir="rtl"] .col-lg-offset-7 {
		 margin-right: 58.33333333%;
	}
	 html[dir="rtl"] .col-lg-offset-6 {
		 margin-right: 50%;
	}
	 html[dir="rtl"] .col-lg-offset-5 {
		 margin-right: 41.66666667%;
	}
	 html[dir="rtl"] .col-lg-offset-4 {
		 margin-right: 33.33333333%;
	}
	 html[dir="rtl"] .col-lg-offset-3 {
		 margin-right: 25%;
	}
	 html[dir="rtl"] .col-lg-offset-2 {
		 margin-right: 16.66666667%;
	}
	 html[dir="rtl"] .col-lg-offset-1 {
		 margin-right: 8.33333333%;
	}
	 html[dir="rtl"] .col-lg-offset-0 {
		 margin-right: 0;
	}
}
 html[dir="rtl"] caption {
	 text-align: right;
}
 html[dir="rtl"] th {
	 text-align: right;
}
 @media screen and (max-width: 767px) {
	 html[dir="rtl"] .table-responsive > .table-bordered > tbody > tr > td:first-child, html[dir="rtl"] .table-responsive > .table-bordered > tbody > tr > th:first-child, html[dir="rtl"] .table-responsive > .table-bordered > tfoot > tr > td:first-child, html[dir="rtl"] .table-responsive > .table-bordered > tfoot > tr > th:first-child, html[dir="rtl"] .table-responsive > .table-bordered > thead > tr > td:first-child, html[dir="rtl"] .table-responsive > .table-bordered > thead > tr > th:first-child {
		 border-right: 0;
	}
	 html[dir="rtl"] .table-responsive > .table-bordered > tbody > tr > td:last-child, html[dir="rtl"] .table-responsive > .table-bordered > tbody > tr > th:last-child, html[dir="rtl"] .table-responsive > .table-bordered > tfoot > tr > td:last-child, html[dir="rtl"] .table-responsive > .table-bordered > tfoot > tr > th:last-child, html[dir="rtl"] .table-responsive > .table-bordered > thead > tr > td:last-child, html[dir="rtl"] .table-responsive > .table-bordered > thead > tr > th:last-child {
		 border-left: 0;
	}
}
 html[dir="rtl"] .checkbox label, html[dir="rtl"] .radio label {
	 padding-right: 20px;
}
 html[dir="rtl"] .checkbox input[type=checkbox], html[dir="rtl"] .checkbox-inline input[type=checkbox], html[dir="rtl"] .radio input[type=radio], html[dir="rtl"] .radio-inline input[type=radio] {
	 margin-right: -20px;
}
 html[dir="rtl"] .checkbox-inline, html[dir="rtl"] .radio-inline {
	 padding-right: 20px;
}
 html[dir="rtl"] .checkbox-inline + .checkbox-inline, html[dir="rtl"] .radio-inline + .radio-inline {
	 margin-right: 10px;
}
 html[dir="rtl"] .has-feedback .form-control {
	 padding-left: 42.5px;
}
 html[dir="rtl"] .form-control-feedback {
	 left: 0;
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .form-inline .checkbox label, html[dir="rtl"] .form-inline .radio label {
		 padding-right: 0;
	}
	 html[dir="rtl"] .form-inline .checkbox input[type=checkbox], html[dir="rtl"] .form-inline .radio input[type=radio] {
		 margin-right: 0;
	}
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .form-horizontal .control-label {
		 text-align: left;
	}
}
 html[dir="rtl"] .form-horizontal .has-feedback .form-control-feedback {
	 left: 15px;
}
 html[dir="rtl"] .caret {
	 margin-right: 2px;
}
 html[dir="rtl"] .dropdown-menu {
	 right: 0;
	 float: right;
	 text-align: right;
}
 html[dir="rtl"] .dropdown-menu.pull-right {
	 right: auto;
	 left: 0;
}
 html[dir="rtl"] .dropdown-menu-right {
	 right: auto;
	 left: 0;
}
 html[dir="rtl"] .dropdown-menu-left {
	 right: 0;
	 left: auto;
}
 html[dir="rtl"] .pull-right > .dropdown-menu {
	 right: auto;
	 left: 0;
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .navbar-right .dropdown-menu {
		 right: auto;
		 left: 0;
	}
	 html[dir="rtl"] .navbar-right .dropdown-menu-left {
		 right: 0;
		 left: auto;
	}
}
 html[dir="rtl"] .btn-group-vertical > .btn, html[dir="rtl"] .btn-group > .btn {
	 float: right;
}
 html[dir="rtl"] .btn-group .btn + .btn, html[dir="rtl"] .btn-group .btn + .btn-group, html[dir="rtl"] .btn-group .btn-group + .btn, html[dir="rtl"] .btn-group .btn-group + .btn-group {
	 margin-right: -1px;
}
 html[dir="rtl"] .btn-toolbar {
	 margin-right: -5px;
}
 html[dir="rtl"] .btn-toolbar .btn, html[dir="rtl"] .btn-toolbar .btn-group, html[dir="rtl"] .btn-toolbar .input-group {
	 float: right;
}
 html[dir="rtl"] .btn-toolbar > .btn, html[dir="rtl"] .btn-toolbar > .btn-group, html[dir="rtl"] .btn-toolbar > .input-group {
	 margin-right: 5px;
}
 html[dir="rtl"] .btn-group > .btn:first-child {
	 margin-right: 0;
}
 html[dir="rtl"] .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 html[dir="rtl"] .btn-group > .btn:last-child:not(:first-child), html[dir="rtl"] .btn-group > .dropdown-toggle:not(:first-child) {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 html[dir="rtl"] .btn-group > .btn-group {
	 float: right;
}
 html[dir="rtl"] .btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, html[dir="rtl"] .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 html[dir="rtl"] .btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 html[dir="rtl"] .btn .caret {
	 margin-right: 0;
}
 html[dir="rtl"] .btn-group-vertical > .btn + .btn, html[dir="rtl"] .btn-group-vertical > .btn + .btn-group, html[dir="rtl"] .btn-group-vertical > .btn-group + .btn, html[dir="rtl"] .btn-group-vertical > .btn-group + .btn-group {
	 margin-right: 0;
}
 html[dir="rtl"] .btn-group-justified > .btn-group .dropdown-menu {
	 right: auto;
}
 html[dir="rtl"] .input-group .form-control {
	 float: right;
}
 html[dir="rtl"] .input-group .form-control:first-child, html[dir="rtl"] .input-group-addon:first-child, html[dir="rtl"] .input-group-btn:first-child > .btn, html[dir="rtl"] .input-group-btn:first-child > .btn-group > .btn, html[dir="rtl"] .input-group-btn:first-child > .dropdown-toggle, html[dir="rtl"] .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, html[dir="rtl"] .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
	 border-top-left-radius: 0;
	 border-bottom-left-radius: 0;
}
 html[dir="rtl"] .input-group-addon:first-child {
	 border-left: 0;
}
 html[dir="rtl"] .input-group .form-control:last-child, html[dir="rtl"] .input-group-addon:last-child, html[dir="rtl"] .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, html[dir="rtl"] .input-group-btn:first-child > .btn:not(:first-child), html[dir="rtl"] .input-group-btn:last-child > .btn, html[dir="rtl"] .input-group-btn:last-child > .btn-group > .btn, html[dir="rtl"] .input-group-btn:last-child > .dropdown-toggle {
	 border-top-right-radius: 0;
	 border-bottom-right-radius: 0;
}
 html[dir="rtl"] .input-group-addon:last-child {
	 border-right: 0;
}
 html[dir="rtl"] .input-group-btn > .btn + .btn {
	 margin-right: -1px;
}
 html[dir="rtl"] .input-group-btn:first-child > .btn, html[dir="rtl"] .input-group-btn:first-child > .btn-group {
	 margin-left: -1px;
}
 html[dir="rtl"] .input-group-btn:last-child > .btn, html[dir="rtl"] .input-group-btn:last-child > .btn-group {
	 margin-right: -1px;
}
 html[dir="rtl"] .nav {
	 padding-right: 0;
}
 html[dir="rtl"] .nav-tabs > li {
	 float: right;
}
 html[dir="rtl"] .nav-tabs > li > a {
	 margin-left: 2px;
}
 html[dir="rtl"] .nav-tabs.nav-justified > .dropdown .dropdown-menu {
	 right: auto;
}
 html[dir="rtl"] .nav-tabs.nav-justified > li > a {
	 margin-left: 0;
}
 html[dir="rtl"] .nav-pills > li {
	 float: right;
}
 html[dir="rtl"] .nav-pills > li + li {
	 margin-right: 2px;
}
 html[dir="rtl"] .nav-stacked > li + li {
	 margin-right: 0;
}
 html[dir="rtl"] .nav-justified > .dropdown .dropdown-menu {
	 right: auto;
}
 html[dir="rtl"] .nav-tabs-justified > li > a {
	 margin-left: 0;
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .navbar-header {
		 float: right;
	}
}
 html[dir="rtl"] .navbar-brand {
	 float: right;
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .navbar > .container .navbar-brand, html[dir="rtl"] .navbar > .container-fluid .navbar-brand {
		 margin-right: -15px;
	}
}
 html[dir="rtl"] .navbar-toggle {
	 float: left;
	 margin-left: 15px;
}
 @media (max-width: 767px) {
	 html[dir="rtl"] .navbar-nav .open .dropdown-menu .dropdown-header, html[dir="rtl"] .navbar-nav .open .dropdown-menu > li > a {
		 padding: 5px 25px 5px 15px;
	}
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .navbar-nav {
		 float: right;
	}
	 html[dir="rtl"] .navbar-nav > li {
		 float: right;
	}
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .navbar-form .checkbox label, html[dir="rtl"] .navbar-form .radio label {
		 padding-right: 0;
	}
	 html[dir="rtl"] .navbar-form .checkbox input[type=checkbox], html[dir="rtl"] .navbar-form .radio input[type=radio] {
		 margin-right: 0;
	}
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .navbar-text {
		 float: right;
	}
}
 @media (min-width: 768px) {
	 html[dir="rtl"] .navbar-left {
		 float: right !important;
	}
	 html[dir="rtl"] .navbar-right {
		 float: left !important;
		 margin-left: -15px;
	}
	 html[dir="rtl"] .navbar-right ~ .navbar-right {
		 margin-left: 0;
	}
}
 html[dir="rtl"] .pagination {
	 padding-right: 0;
}
 html[dir="rtl"] .pagination > li > a, html[dir="rtl"] .pagination > li > span {
	 float: right;
	 margin-right: -1px;
}
 html[dir="rtl"] .pagination > li:first-child > a, html[dir="rtl"] .pagination > li:first-child > span {
	 margin-right: 0;
	 border-top-right-radius: 4px;
	 border-bottom-right-radius: 4px;
}
 html[dir="rtl"] .pagination > li:last-child > a, html[dir="rtl"] .pagination > li:last-child > span {
	 border-top-left-radius: 4px;
	 border-bottom-left-radius: 4px;
}
 html[dir="rtl"] .pagination-lg > li:first-child > a, html[dir="rtl"] .pagination-lg > li:first-child > span {
	 border-top-right-radius: 6px;
	 border-bottom-right-radius: 6px;
}
 html[dir="rtl"] .pagination-lg > li:last-child > a, html[dir="rtl"] .pagination-lg > li:last-child > span {
	 border-top-left-radius: 6px;
	 border-bottom-left-radius: 6px;
}
 html[dir="rtl"] .pagination-sm > li:first-child > a, html[dir="rtl"] .pagination-sm > li:first-child > span {
	 border-top-right-radius: 3px;
	 border-bottom-right-radius: 3px;
}
 html[dir="rtl"] .pagination-sm > li:last-child > a, html[dir="rtl"] .pagination-sm > li:last-child > span {
	 border-top-left-radius: 3px;
	 border-bottom-left-radius: 3px;
}
 html[dir="rtl"] .pager {
	 padding-right: 0;
}
 html[dir="rtl"] .pager .next > a, html[dir="rtl"] .pager .next > span {
	 float: left;
}
 html[dir="rtl"] .pager .previous > a, html[dir="rtl"] .pager .previous > span {
	 float: right;
}
 html[dir="rtl"] .list-group-item > .badge {
	 float: left;
}
 html[dir="rtl"] .list-group-item > .badge + .badge {
	 margin-left: 5px;
}
 html[dir="rtl"] .nav-pills > li > a > .badge {
	 margin-right: 3px;
}
 html[dir="rtl"] .alert-dismissable, html[dir="rtl"] .alert-dismissible {
	 padding-left: 35px;
}
 html[dir="rtl"] .alert-dismissable .close, html[dir="rtl"] .alert-dismissible .close {
	 left: -21px;
}
 @-webkit-keyframes progress-bar-stripes {
	 to {
		 background-position: 100% 0;
	}
}
 @-o-keyframes progress-bar-stripes {
	 to {
		 background-position: 100% 0;
	}
}
 @keyframes progress-bar-stripes {
	 to {
		 background-position: 100% 0;
	}
}
 html[dir="rtl"] .progress-bar {
	 float: right;
}
 html[dir="rtl"] .progress-bar-striped, html[dir="rtl"] .progress-striped .progress-bar {
	 background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
 html[dir="rtl"] .progress-striped .progress-bar-success {
	 background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
 html[dir="rtl"] .progress-striped .progress-bar-info {
	 background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
 html[dir="rtl"] .progress-striped .progress-bar-warning {
	 background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
 html[dir="rtl"] .progress-striped .progress-bar-danger {
	 background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
	 background-image: linear-gradient(-45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
}
 html[dir="rtl"] .media-right, html[dir="rtl"] .media > .pull-right {
	 padding-right: 10px;
}
 html[dir="rtl"] .media-left, html[dir="rtl"] .media > .pull-left {
	 padding-left: 10px;
}
 html[dir="rtl"] .media-list {
	 padding-right: 0;
}
 html[dir="rtl"] .list-group {
	 padding-right: 0;
}
 html[dir="rtl"] button.list-group-item {
	 text-align: right;
}
 html[dir="rtl"] .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child, html[dir="rtl"] .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child, html[dir="rtl"] .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child, html[dir="rtl"] .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child, html[dir="rtl"] .panel > .table:first-child > tbody:first-child > tr:first-child td:first-child, html[dir="rtl"] .panel > .table:first-child > tbody:first-child > tr:first-child th:first-child, html[dir="rtl"] .panel > .table:first-child > thead:first-child > tr:first-child td:first-child, html[dir="rtl"] .panel > .table:first-child > thead:first-child > tr:first-child th:first-child {
	 border-top-right-radius: 3px;
}
 html[dir="rtl"] .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child, html[dir="rtl"] .panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child, html[dir="rtl"] .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child, html[dir="rtl"] .panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child, html[dir="rtl"] .panel > .table:first-child > tbody:first-child > tr:first-child td:last-child, html[dir="rtl"] .panel > .table:first-child > tbody:first-child > tr:first-child th:last-child, html[dir="rtl"] .panel > .table:first-child > thead:first-child > tr:first-child td:last-child, html[dir="rtl"] .panel > .table:first-child > thead:first-child > tr:first-child th:last-child {
	 border-top-left-radius: 3px;
}
 html[dir="rtl"] .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child, html[dir="rtl"] .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child, html[dir="rtl"] .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child, html[dir="rtl"] .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child, html[dir="rtl"] .panel > .table:last-child > tbody:last-child > tr:last-child td:first-child, html[dir="rtl"] .panel > .table:last-child > tbody:last-child > tr:last-child th:first-child, html[dir="rtl"] .panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child, html[dir="rtl"] .panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
	 border-bottom-right-radius: 3px;
}
 html[dir="rtl"] .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child, html[dir="rtl"] .panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child, html[dir="rtl"] .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child, html[dir="rtl"] .panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child, html[dir="rtl"] .panel > .table:last-child > tbody:last-child > tr:last-child td:last-child, html[dir="rtl"] .panel > .table:last-child > tbody:last-child > tr:last-child th:last-child, html[dir="rtl"] .panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child, html[dir="rtl"] .panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
	 border-bottom-left-radius: 3px;
}
 html[dir="rtl"] .panel > .table-bordered > tbody > tr > td:first-child, html[dir="rtl"] .panel > .table-bordered > tbody > tr > th:first-child, html[dir="rtl"] .panel > .table-bordered > tfoot > tr > td:first-child, html[dir="rtl"] .panel > .table-bordered > tfoot > tr > th:first-child, html[dir="rtl"] .panel > .table-bordered > thead > tr > td:first-child, html[dir="rtl"] .panel > .table-bordered > thead > tr > th:first-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > tbody > tr > td:first-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > tbody > tr > th:first-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > thead > tr > td:first-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > thead > tr > th:first-child {
	 border-right: 0;
}
 html[dir="rtl"] .panel > .table-bordered > tbody > tr > td:last-child, html[dir="rtl"] .panel > .table-bordered > tbody > tr > th:last-child, html[dir="rtl"] .panel > .table-bordered > tfoot > tr > td:last-child, html[dir="rtl"] .panel > .table-bordered > tfoot > tr > th:last-child, html[dir="rtl"] .panel > .table-bordered > thead > tr > td:last-child, html[dir="rtl"] .panel > .table-bordered > thead > tr > th:last-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > tbody > tr > td:last-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > tbody > tr > th:last-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > thead > tr > td:last-child, html[dir="rtl"] .panel > .table-responsive > .table-bordered > thead > tr > th:last-child {
	 border-left: 0;
}
 html[dir="rtl"] .embed-responsive .embed-responsive-item, html[dir="rtl"] .embed-responsive embed, html[dir="rtl"] .embed-responsive iframe, html[dir="rtl"] .embed-responsive object, html[dir="rtl"] .embed-responsive video {
	 right: 0;
}
 html[dir="rtl"] .close {
	 float: left;
}
 html[dir="rtl"] .modal-footer {
	 text-align: left;
}
 html[dir="rtl"] .modal-footer .btn + .btn {
	 margin-right: 5px;
}
 html[dir="rtl"] .modal-footer .btn-group .btn + .btn {
	 margin-right: -1px;
}
 html[dir="rtl"] .modal-footer .btn-block + .btn-block {
	 margin-right: 0;
}
 html[dir="rtl"] .tooltip {
	 text-align: right;
}
 html[dir="rtl"] .tooltip.right {
	 margin-right: 3px;
}
 html[dir="rtl"] .tooltip.left {
	 margin-right: -3px;
}
 html[dir="rtl"] .tooltip.top .tooltip-arrow {
	 right: 50%;
	 margin-right: -5px;
}
 html[dir="rtl"] .tooltip.top-left .tooltip-arrow {
	 left: 5px;
}
 html[dir="rtl"] .tooltip.top-right .tooltip-arrow {
	 right: 5px;
}
 html[dir="rtl"] .tooltip.right .tooltip-arrow {
	 right: 0;
	 border-width: 5px 0 5px 5px;
	 border-left-color: #000;
}
 html[dir="rtl"] .tooltip.left .tooltip-arrow {
	 left: 0;
	 border-width: 5px 5px 5px 0;
	 border-right-color: #000;
}
 html[dir="rtl"] .tooltip.bottom .tooltip-arrow {
	 right: 50%;
	 margin-right: -5px;
}
 html[dir="rtl"] .tooltip.bottom-left .tooltip-arrow {
	 left: 5px;
}
 html[dir="rtl"] .tooltip.bottom-right .tooltip-arrow {
	 right: 5px;
}
 html[dir="rtl"] .popover {
	 right: 0;
	 text-align: right;
}
 html[dir="rtl"] .popover.right {
	 margin-right: 10px;
}
 html[dir="rtl"] .popover.left {
	 margin-right: -10px;
}
 html[dir="rtl"] .popover.top > .arrow {
	 right: 50%;
	 margin-right: -11px;
}
 html[dir="rtl"] .popover.top > .arrow:after {
	 margin-right: -10px;
}
 html[dir="rtl"] .popover.right > .arrow {
	 right: -11px;
	 border-right-width: 0;
	 border-left-color: #999;
	 border-left-color: rgba(0, 0, 0, .25);
}
 html[dir="rtl"] .popover.right > .arrow:after {
	 right: 1px;
	 border-right-width: 0;
	 border-left-color: #fff;
}
 html[dir="rtl"] .popover.bottom > .arrow {
	 right: 50%;
	 margin-right: -11px;
}
 html[dir="rtl"] .popover.bottom > .arrow:after {
	 margin-right: -10px;
}
 html[dir="rtl"] .popover.left > .arrow {
	 left: -11px;
	 border-right-color: #999;
	 border-right-color: rgba(0, 0, 0, .25);
	 border-left-width: 0;
}
 html[dir="rtl"] .popover.left > .arrow:after {
	 left: 1px;
	 border-right-color: #fff;
	 border-left-width: 0;
}
 html[dir="rtl"] .carousel-inner > .item {
	 -webkit-transition: 0.6s ease-in-out right;
	 -o-transition: 0.6s ease-in-out right;
	 transition: 0.6s ease-in-out right;
}
 @media all and (transform-3d), (-webkit-transform-3d) {
	 html[dir="rtl"] .carousel-inner > .item.active.right, html[dir="rtl"] .carousel-inner > .item.next {
		 right: 0;
	}
	 html[dir="rtl"] .carousel-inner > .item.active.left, html[dir="rtl"] .carousel-inner > .item.prev {
		 right: 0;
		 -webkit-transform: translate3d(100%, 0, 0);
		 transform: translate3d(100%, 0, 0);
	}
	 html[dir="rtl"] .carousel-inner > .item.active, html[dir="rtl"] .carousel-inner > .item.next.left, html[dir="rtl"] .carousel-inner > .item.prev.right {
		 right: 0;
	}
}
 html[dir="rtl"] .carousel-inner > .active {
	 right: 0;
}
 html[dir="rtl"] .carousel-inner > .next {
	 right: 100%;
}
 html[dir="rtl"] .carousel-inner > .prev {
	 right: -100%;
}
 html[dir="rtl"] .carousel-inner > .next.left, html[dir="rtl"] .carousel-inner > .prev.right {
	 right: 0;
}
 html[dir="rtl"] .carousel-inner > .active.left {
	 right: -100%;
}
 html[dir="rtl"] .carousel-inner > .active.right {
	 right: 100%;
}
 html[dir="rtl"] .carousel-control {
	 right: 0;
}
 html[dir="rtl"] .carousel-control.left {
	 background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
	 background-image: -o-linear-gradient(right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
	 background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
	 background-image: linear-gradient(to left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
}
 html[dir="rtl"] .carousel-control.right {
	 right: auto;
	 left: 0;
	 background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
	 background-image: -o-linear-gradient(right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
	 background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
	 background-image: linear-gradient(to left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
}
 html[dir="rtl"] .carousel-control .glyphicon-chevron-left, html[dir="rtl"] .carousel-control .icon-prev {
	 right: 50%;
	 margin-right: -10px;
}
 html[dir="rtl"] .carousel-control .glyphicon-chevron-right, html[dir="rtl"] .carousel-control .icon-next {
	 left: 50%;
	 margin-left: -10px;
}
 html[dir="rtl"] .carousel-indicators {
	 right: 50%;
	 padding-right: 0;
	 margin-right: -30%;
}
 @media screen and (min-width: 768px) {
	 html[dir="rtl"] .carousel-control .glyphicon-chevron-left, html[dir="rtl"] .carousel-control .icon-prev {
		 margin-right: -10px;
	}
	 html[dir="rtl"] .carousel-control .glyphicon-chevron-right, html[dir="rtl"] .carousel-control .icon-next {
		 margin-left: -10px;
	}
}
 html[dir="rtl"] .pull-right {
	 float: left !important;
}
 html[dir="rtl"] .pull-left {
	 float: right !important;
}

/* RTL classes from theme.css */ 

html[dir="rtl"] .pagination > li > span {
	 margin-right: 10px;
}
 html[dir="rtl"] .logo-container {
	 margin-right: 9px;
}
 html[dir="rtl"] .navbar-fixed-top.navbar .navbar-form {
	 margin-right: 0;
	 margin-left: 0;
}
 html[dir="rtl"] .navbar-static-top.navbar .navbar-form {
	 margin-right: 0;
	 margin-left: 0;
}
 html[dir="rtl"] .navbar-fixed-top.navbar .menu-bar > .navbar-nav > .divider-vertical {
	 border-left: 1px solid #fff;
	 border-right: 1px solid #666;
}
 html[dir="rtl"] .navbar-static-top.navbar .menu-bar > .navbar-nav > .divider-vertical {
	 border-left: 1px solid #fff;
	 border-right: 1px solid #666;
}
 html[dir="rtl"] .navbar-fixed-top.navbar-inverse .divider-vertical {
	 border-left-color: #fff;
	 border-right-color: #111;
}
 html[dir="rtl"] .navbar-static-top.navbar-inverse .divider-vertical {
	 border-left-color: #fff;
	 border-right-color: #111;
}
 html[dir="rtl"] .menu-bar .shopping_link .cart_amount {
	 left: -6px;
	 padding-right: 1.9px;
}
 html[dir="rtl"] .panel-group .panel-heading .panel-title a:before {
	 margin-left: 10.5px;
}
 html[dir="rtl"] .section-inline-search .row > div .form-inline .form-group .input-group {
	 margin-left: 21px;
}
 html[dir="rtl"] .section-inline-search .row > div .form-inline .form-group .input-group .input-group-addon {
	 border-left: none;
}
 html[dir="rtl"] .section-inline-search .row > div .form-inline .form-group .input-group .form-control {
	 border-right: none;
}
 html[dir="rtl"] .section-inline-search .row > div .form-inline .form-group .input-group .form-control:focus {
	 border-left: none;
}
 html[dir="rtl"] .list-social-links {
	 padding-right: 0;
}
 @media screen and (max-width: 993px) {
	 html[dir="rtl"] .section-landing h2 {
		 margin-right: -3px;
	}
}
 html[dir="rtl"] .user-icon {
	 margin-left: 7px;
}
 html[dir="rtl"] .article-title-container {
	 padding-right: 15px;
}
 html[dir="rtl"] .article-title {
	 margin-right: -35px;
}
 html[dir="rtl"] .article-title > span {
	 margin-right: 3px;
}
 @media screen and (max-width: 993px) {
	 html[dir="rtl"] .article-title {
		 margin-right: 0;
	}
}
 html[dir="rtl"] .section-search input {
	 padding-right: 10px;
}
 html[dir="rtl"] .section-search .media .media-body {
	 padding-right: 20px;
}
 html[dir="rtl"] .carousel-custom .carousel-inner > .item {
	 margin-left: auto;
	 margin-right: auto;
}
 html[dir="rtl"] .carousel-custom .carousel-inner > .item .carousel-caption {
	 right: 5%;
	 left: 5%;
}
 @media screen and (min-width: 768px) {
	 html[dir="rtl"] .carousel-custom .carousel-inner > .item .carousel-caption {
		 right: 5%;
		 left: 5%;
	}
}
 html[dir="rtl"] .poll {
	 padding-right: 15px;
	 padding-left: 15px;
}
 html[dir="rtl"] .poll .poll-content .poll-buttons {
	 padding-right: 11px;
}
 html[dir="rtl"] .nav-sidebar {
	 padding-right: 20px;
}
 html[dir="rtl"] .nav-sidebar .nav > li > a:hover, html[dir="rtl"] .nav-sidebar .nav > li > a:focus {
	 border-left: 2px solid #555;
}
 html[dir="rtl"] .nav-sidebar .nav > li > a:before {
	 margin-left: 7px;
}
 html[dir="rtl"] .nav-sidebar .nav > .active > a {
	 border-left: 2px solid #555;
}
 html[dir="rtl"] .nav-sidebar .nav .nav > li > a {
	 padding-right: 30px;
}
 html[dir="rtl"] .nav-sidebar .nav .nav .nav > li > a {
	 padding-right: 60px;
}
 @media (max-width: 1199px) {
	 html[dir="rtl"] #navbar .dropdown-search #search-filter {
		 text-align: right;
		 padding-right: 25px;
	}
}
 html[dir="rtl"] .form-search .dropdown-submenu {
	 left: -2px;
}
 html[dir="rtl"] .section-diagonal-left .section-diagonal-left-content:before {
	 right: 0;
}
 html[dir="rtl"] .section-diagonal-right .section-diagonal-right-content:before {
	 right: 0;
}
 @media screen and (max-width: 767px) {
	 html[dir="rtl"] .section-default:before {
		 right: 0;
	}
}
 html[dir="rtl"] .content-home .list-group-item img {
	 margin-left: 25px;
}
 html[dir="rtl"] .sidebar-home .panel-heading {
	 padding-right: 0;
}
 html[dir="rtl"] .sidebar-home .list-group-item {
	 padding-right: 0;
}
 html[dir="rtl"] h1 {
	 margin-right: 0px;
	 margin-left: 0px;
}
 html[dir="rtl"] .skip-to-content a {
	 right: 0px;
}
 html[dir="rtl"] .skip-to-content a:focus {
	 right: 0px;
}
 html[dir="rtl"] .frenchAccessibilityLink {
	 float: left;
}
 
/* RTL classes from portalbasictheme.css */ 

html[dir="rtl"] .sectionBlockLayout {
	 margin-right: 0px;
	 margin-left: 0px;
}

/* RTL studio inline styling */ 

html[dir="rtl"] .p-r-5 {
    padding-left: 5px;
    padding-right: auto;
}
html[dir="rtl"] dd {
    margin-left: auto;
    margin-right: 0;
}
html[dir="rtl"] .left-50pc {
    right: 50%;
    left: auto;
}

html[dir="rtl"] .ml-2 {
    margin-right: 8px;
}