# Visual Studio / Rider
.vs/
bin/
obj/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Oo][Bb][Jj]/
[Ll][Oo][Gg]s/
[Bb][Uu][Ii][Ll][Dd]/

# NuGet
**/packages/*
!**/packages.config
!**/*.csproj
!**/*.csproj.user
!**/*.sln
!**/Directory.Build.props
!**/Directory.Build.targets

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# StyleCop
StyleCopReport.xml

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Chutzpah Test files
_Chutzpah*

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# TFS 2012 Local Workspace
$tf/

# Guidance for handling specific file types
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# Resharper
_ReSharper*/
*.resharper

# FakesAssemblies
**/FakesAssemblies/

# snk file
*.snk