html {
    font-size: 100% /* or 62.5% or whatever you like, it doesn't matter, it's just a browser fix, however "rem" units will be based on that value, so make it confortable for calculations */
}
body {counter-reset:section;}
h1 {counter-reset:subsection;}
h1:before
{
counter-increment:section;
content: counter(section) ". ";
    font-weight:bold;
}
h2:before
{
counter-increment:subsection;
content:counter(section) "." counter(subsection) " ";
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media print {
    .next_file {
        page-break-before: always;
 
    }
}
