html {
    font-size: 100% /* or 62.5% or whatever you like, it doesn't matter, it's just a browser fix, however "rem" units will be based on that value, so make it confortable for calculations */
}
body {counter-reset:section;}
h1 {counter-reset:subsection;}
h1:before
{
counter-increment:section;
content: counter(section) ". ";
    font-weight:bold;
}
h2:before
{
counter-increment:subsection;
content:counter(section) "." counter(subsection) " ";
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cover {
    width: 100%;
}

@media print {
    @page { margin: 0; }
    body { 
        margin-top: 1.6cm !important;
        margin-bottom: 1.6cm !important;
        margin: 1.6cm;
     }  
}

div.page
{
    page-break-after: always;
    page-break-inside: avoid;
}

ul.toc > li { 
    list-style-type: none; 
}

.toc-2 {
    margin-left: 20px;
}

.toc-3 {
    margin-left: 40px;
}