{
  "devOpsOrganization": "a",
  "project": "alm-sandbox",
  "user": "a",
  "environment": "a",
  "group": "ALMAcceleratorForAdvancedMakers",
  "aad": "ALMAcceleratorServicePrincipal",
  "endpoint": "prod",
  "settings": {
    "createSecret": "true",
    "region": [
      "NAM"
    ]
  },
  "region": [
    "NAM"
  ]
}