.Elevation .cat-blocking {
    background:rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute; 
}
.Elevation .cat-elevation-container {
    inset: 0px;
    position: absolute;   
}
.Elevation .cat-depth-0 {
    box-shadow: 0 0 0 0 transparent
}

.Elevation .cat-depth-4 {
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132),0 .3px .9px 0 rgba(0,0,0,.108)
}

.Elevation .cat-depth-8 {
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132),0 .6px 1.8px 0 rgba(0,0,0,.108)
}

.Elevation .cat-depth-16 {
    box-shadow: 0 6.4px 14.4px 0 rgba(0,0,0,.132),0 1.2px 3.6px 0 rgba(0,0,0,.108)
}

.Elevation .cat-depth-64 {
    box-shadow: 0 25.6px 57.6px 0 rgba(0,0,0,.22),0 4.8px 14.4px 0 rgba(0,0,0,.18)
}
